body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.42858;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin: 0;
    font-weight: 400
}

body, dd, dl, form {
    margin: 0
}

img {
    border: 0;
}

button, input, select, textarea {
    font-size: 1em;
    font-family: inherit;
}

input, textarea {
    -webkit-appearance: none;
}

a, a:hover {
    text-decoration: none
}

pre {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.layout-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5rem calc(100vh - 3.5rem);
    grid-template-areas: "header header" "left right"
}
.layout-hader{
    grid-area: header;
}
.layout-left{
    grid-area:left;
}
.layout-right{
    grid-area:right;
}